body{
    margin: 0;
    padding: 0;
    /* Prevent scrollbars */
    overflow: visible;
    box-sizing: border-box;
    background-color: transparent;
    -webkit-text-stroke: 0.2px black;
    font-family: Arial Black, Arial, Helvetica, sans-serif;

}

@font-face {
    font-family: lost-fish;
    src: url("../fonts/LOSTFISH-5DOZ.TTF") format('truetype');
}

.navbar{

    position:sticky;
    top: 0;  
    left:0;
    width:100%;
    display:flex;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
    
    flex-direction: row;
    flex-wrap: none;
    background-color: #006CA5;  
    }

.menuitem{
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 22px;
    padding: 21px 22px;
    /*text-decoration: none;*/
}

.menuitem:hover{
    background-color: #04244e;
    color:#cc5109
}

.right{
    flex:1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.left{
    flex:1;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.active{
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 18px;
    padding: 16px 16px;
    text-decoration: none;
    background-color: #FF6F1D;
}

.active:hover{
    background-color: #cc5109;
}

.register-button{
    background-color: #FF6F1D;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    
    
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}
.register-button:hover{
    background-color: #cc5109;
    color:white;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00BFFF, #00072D); /* Adjust colors as needed */
    animation: moveBackground 20s linear infinite alternate;
    z-index: -2;
}

@keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
}

.content {
    /*position: absolute;*/
    padding: 20px;
    
    color: white; /* Text color */
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
    z-index: 0;
}

.Dory{
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: -1;
}

.flex-container{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;

}

#header{
    color:#FF6F1D;
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    padding-top: 5%;
    font-size: 72px;
}

.items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.left{
    flex: 1;
    display: flex;

}
.end{
    justify-content: flex-end;
}

.box{
    background-color: white;
    border-radius: 15px;
    border: none;
    color: #006CA5;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    /*inline-size: min-content;*/
    

    margin: 20px;
    padding: 80px 50px;

}

.video-container {
    /* Make video to at least 100% wide and tall */
    background: url("images\Dory_(Finding_Nemo).png");
    min-width: 100%; 
    min-height: 100%; 
    
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    object-fit: fill;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1.0;
    transform: translate(-50%,-50%);
  }

.font {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 44px;
    color: #ffffff;
    background:none;
    border:none;
    cursor: pointer;
    margin-left: 80px;
}

.container {
    width: 100%;
    height: auto;
    margin-top: 70px;
    overflow:hidden;
  }
  /* grid w/images and names */
  .grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .grid-item {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Montserrat';
    color: #f3f3f3; 
    padding: 20px 0;
    background-color: transparent;
    
  }
  .grid-item img {
    width: 100%;
    height: auto;
    max-width: 100%;
    
    
    background-color: transparent;
  }

  .small-image img {
    width: 150px; /* Set a smaller width for this specific image */
  }

  .row {
    margin-top: 5px; /* Adjust as needed */
    margin-bottom: 5px; /* Adjust as needed */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .col-md-4 {
    flex: 0 0 32%;
    margin-bottom: 20px; /* Adjust as needed */
  }


/*--------------------
#footer {
    grid-area: content3;
    display: grid;
    text-align: center;
    bottom: 0;
    display: block;
    text-align: center center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 44px;
    color: black;
    margin: auto;
}*/

/*tablets*/
@media only screen and (min-width:768px) {
    body {
        background-image: url('../images/backgroundmobile2.png');
    }
}

/*desktop*/
@media only screen and (min-width: 769px) {

     body formatting 
    body {
        background-image: url('../images/background2.png');
    }

    .buttons:hover,
    #sidebar a:hover {
        color: #897261;
    }
}