body{
    margin: 0;
    padding: 0;
    overflow: visible; /* Prevent scrollbars */
    box-sizing: border-box;
    background-color: transparent;
    -webkit-text-stroke: 0.1px black;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: lost-fish;
    src: url("../fonts/LOSTFISH-5DOZ.TTF") format('truetype');
}
.navbar{

    position:sticky;
    top: 0;  
    left:0;
    width:100%;
    display:flex;
    z-index: 1030; /* to prevent the navbar getting covered up by other content */
    
    flex-direction: row;
    flex-wrap: none;
    background-color: #006CA5;  
    }

.menuitem{
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 22px;
    padding: 21px 22px;
    text-decoration: none;
}

.menuitem:hover{
    background-color: #04244e;
}

.right{
    flex:1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.left{
    flex:1;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.active{
    align-items: center;
    color: white;
    text-align: center;
    padding-top: 18px;
    padding: 16px 16px;
    text-decoration: none;
    background-color: #FF6F1D;
}

.active:hover{
    background-color: #cc5109;
}

.register-button{
    background-color: #FF6F1D;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    
    
    font-size: 17px;
    margin: 4px 2px;
    cursor: pointer;
}
.register-button:hover{
    background-color: #cc5109;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00BFFF, #00072D); /* Adjust colors as needed */
    animation: moveBackground 20s linear infinite alternate; /* Adjust duration and animation type */
    z-index: -2;
}

@keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
}

@keyframes rise1{
    0%{
        transform: translateY(100%);
    }
    
    100%{
        transform: translateY(-180%);
    }
}

@keyframes rise2{
    0%{
        transform: translateY(100%);
    }
    
    100%{
        transform: translateY(-300%);
    }
}
@keyframes rise3{
    0%{
        transform: translateY(100%);
    }
    
    100%{
        transform: translateY(-600%);
    }
}

@keyframes rise4{
    0%{
        transform: translateY(100%);
    }
    
    100%{
        transform: translateY(-600%);
    }
}

@keyframes rise5{
    0%{
        transform: translateY(100%);
    }
    
    100%{
        transform: translateY(-600%);
    }
}
.content {
    /*position: absolute;*/
    padding: 20px;
    
    color: white; /* Text color */
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
    z-index: 0;
}

.Dory{
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: -1;
}

.bubbles{
    position: fixed;
    overflow: hidden;
    
}

.bubble1{
    position: fixed;
    bottom:0;
    left: 80%;
    z-index: -2;
    animation-name: rise1;
    animation-direction: normal;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.bubble2{
    position: fixed;
    bottom:0;
    left: 20%;
    z-index: -2;
    animation-name: rise2;
    animation-direction: normal;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.bubble3{
    position: fixed;
    bottom:0;
    left: 10%;
    z-index: -2;
    animation-name: rise3;
    animation-direction: normal;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
}

.bubble4{
    position: fixed;
    bottom:0;
    left: 39%;
    z-index: -2;
    animation-name: rise4;
    animation-direction: normal;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

.bubble5{
    position: fixed;
    bottom:0;
    left: 60%;
    z-index: -2;
    animation-name: rise5;
    animation-direction: normal;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
.bubble6{
    position: fixed;
    bottom:0;
    left: -4%;
    z-index: -2;
    animation-name: rise2;
    animation-direction: normal;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
.bubble7{
    position: fixed;
    bottom:0;
    left: 67%;
    z-index: -2;
    animation-name: rise2;
    animation-direction: normal;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}





.logOutbutton{
    text-align: center;
    font-size: 14px;
    top:24%;
    left:93%;
    width:180px;
    height:150px;
    position: absolute;
}

.button-box{
    margin: 0;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btn1{
    text-align: center;
    font-size: 22px;
    width: 100px; 
}

.btn2{
    text-align: center;
    font-size: 22px;
    width: 100px; 
}

.form {
    border-radius: 17px;
    position: relative;
    background: #FF6F1D;
    max-width: 350px;
    margin: 0px auto 30px;
    top: 100px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;;
    
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    overflow: hidden;
    height: px;
    transition: .6s;
    z-index: 3;

}

.reqirement-info {
    border-radius: 17px;
    position: relative;
    background: #FF6F1D;
    color: white;
    font-size: large;
    max-width: auto;
    margin: 0 auto 30px;
    top: 100px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;;
    
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    overflow: hidden;
    transition: .6s;
    z-index: 3;

}

.input-field {
    border-radius: 15px;
    font-family: 'Montserrat';
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    position: relative;
}

#login-button{
    background-color: #04AA6D;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    margin-top: 18px;
    cursor: pointer;
    width: 100%;
}

#login-button:hover{
    background-color: #027249 ;
}

#signup-button{
    background-color: #04AA6D;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    margin-top: 18px;
    cursor: pointer;
    width: 100%;
}
#signup-button:hover{
    background-color: #027249 ;
}


.buttons{

    background-color: #04AA6D;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

.input-field:valid {
    border: 2px solid #009345;
}

.input-field:invalid {
    border: 2px solid red;
}

.required::after{
    content:"*";
    color:blue;
    font-size: 20px;
}

/* Style the video: 100% width and height to cover the entire window 
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;

}*/

.form{
    overflow:visible; /* Prevent scrollbars */
}

.video-container {
  /* Make video to at least 100% wide and tall */
  background: url("images\Dory_(Finding_Nemo).png");
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  overflow: hidden;
  object-fit: fill;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1.0;
  transform: translate(-50%,-50%);
}